<h3>{{ _("Configured Tentacles") }}</h3>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Key</th>
            <th>Mode</th>
            <th>Action</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
{% for tentacle_code, tentacle_conf in plugin_tentacles_tentacles.items() %}
    {% for mode, action in tentacle_conf.items() %}
        <tr>
            <td>{{ tentacle_code }}</td>
            <td>{{ mode }}</td>
            <td>{{ action.action }}</td>
            <td>{{ action.name }}</td>
        </tr>
    {% endfor %}
{% endfor %}
    </tbody>
</table>